.t1{
	display: flex;
	flex-flow: row;
	gap: 20px;
	padding: 100px 0;
}
.t4{
	flex: 0.5;
	display: flex;
	flex-flow: column;
	line-height: 1;
	gap: 20px;
}
.t4 h2{
	font-size: 2em;
}
.t4 p{
	font-size: 1em;
	line-height: 2;
	color: #bdbdbe;
}
.t5{
	flex: 1;
	position: relative;
	display: flex;
	flex-flow: row;
	gap: 50px;
	margin: 0 50px;
	padding-top: 40px;
}
.t6 {
	flex: 1;
	display: flex;
	flex-flow: column;
	gap: 50px;
}
.t6 img{
	width: 100%;
	height: 100%;
}
.t6 i{
	font-size: 2em;
	color: #fd587a;
}
.t6 .t8{
	flex: 1;
	line-height: 2;
}
@media only screen and (max-width: 768px){
    .t1{
		flex-flow: column;
	}
	.t1 .t5{
		margin: 0 auto;
		flex-flow: column;
		gap: 30px;
	}
	.t6 {
		flex-flow: row;
		gap: 25px;
	}
	.t5 .t61{
		width: 46%;
		display: flex;
		flex-flow: column;
	}
	.t6 img{
		width: 70%;
	}
	.t6 i{
		margin: 0 20px;
	}
}
@media only screen and (min-width: 769px) and (max-width: 999px){
	.t1{
		flex-flow: column;
	}
	.t1 .t5{
		margin: 0 auto;
		flex-flow: column;
		gap: 30px;
	}
	.t6{
		flex-flow: row;
		gap: 25px;
	}
	.t5 .t61{
		width: 46%;
		display: flex;
		flex-flow: column;
	}
	.t6 img{
		width: 70%;
	}
	.t6 i{
		margin: 0 20px;
	}
}
@media only screen and (min-width: 551px) and (max-width: 767px){
	.t1{
    	padding: 50px 0;
    }
    .t12 i {
   		top: 92%;
	}
	.t9 i {
    	top: 60%;
	}
	.t6 i {
    	top: 27%;
	}
	.t6 img{
    	width: 80%;
    	height: 80%
	}
}
@media only screen and (min-width: 320px) and (max-width: 550px){
	.t1{
		padding: 50px 0;
	}
	.t4 h4, .t4 p{
		font-size: .8em;
	}
	.t4 h2{
		font-size: 1.5em;
	}
	.t1 .t5{
		gap: 40px;
	}
	.t6{
    	gap: 15px;
	}
	.t6 img{
    	height: 50%;
	}
	.t8 p{
    	font-size: .8em;
	}
	.t8 h3{
    	font-size: .8em;
	}
	.t6 i {
    	font-size: 1.5em;
	}
}